* {
    margin: auto;
}

body {
    background-color: aquamarine;
}

.content {
    background-color: aquamarine;
    position: absolute;
    left: 5vw;
    padding: 1.5%;
    width: 90vw;
    box-sizing: border-box;
    display: inline-block;
}

.display {
    display: flex;
    flex-wrap: wrap;
}

/* Displays of each of the three interfaces for the watch */
.watch-display {
    display: inline-flex;
    flex: 1 0 26%;
    position: relative;
    margin-bottom: 1%;
}

.stopwatch-display {
    display: inline-flex;
    position: relative;
    flex: 1 0 26%;
    margin-bottom: 1%;
}

.timer-display {
    display: inline-flex;
    flex: 1 0 26%;
    position: relative;
    margin-bottom: 1%;
}

/* Displays the interface of the circle */
.circle {
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border: 1px solid black;
}

.circle #show {
    font-size: 300%;
}

.circle #stopwatch {
    font-size: 300%;
}

.circle #timer {
    font-size: 300%;
}

/* Displays the interface of the buttons */
.watch-inbutton {
    position: absolute; 
    margin-top: 20vh;
}

.stopwatch-inbutton {
    position: absolute; 
    margin-top: 20vh;
}

.timer-inbutton {
    position: absolute; 
    margin-top: 20vh;
}

/* Displays contingencies on the shrinking in the width of the window */
@media (max-width: 1200px) {
    .display {
        display: flex;
        flex-wrap: wrap;
    }
    .watch-display {
        display: inline-flex;
        flex: 1 0 40%;
    }
    .stopwatch-display {
        display: inline-flex;
        flex: 1 0 40%;
    }
    .timer-display {
        display: inline-flex;
        flex: 1 0 40%;
    }
}

@media (max-width: 700px) {
    .display {
        display: flex;
        flex-wrap: wrap;
    }
    .watch-display {
        display: inline-flex;
        flex: 1 0 51%;
    }
    .stopwatch-display {
        display: inline-flex;
        flex: 1 0 51%;
    }
    .timer-display {
        display: inline-flex;
        flex: 1 0 51%;
    }
}
